@charset "utf-8";

section#conteudo {
    width: 1000px;
    margin: auto;
    margin-top: 26px;
}

section#conteudo aside {
    margin-top: -12px;
    margin-right: 18px;
    margin-bottom: 5px;
}

iframe#frame-spec {
    width: 410px;
    height: 295px;
    margin-left: 60px;
}

aside#lateral-spec {
    display: block;
    width: 438px;
    float: right; 
}

